/* ---------------------- Roboto ---------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

/* ---------------------- Lato ------------------------------ */

@font-face {
	font-family: "Lato";
	src: url("../fonts/lato-regular.woff2") format("woff2"), url("../fonts/lato-regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/lato-bold.woff2") format("woff2"), url("../fonts/lato-bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/lato-black.woff2") format("woff2"), url("../fonts/lato-black.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

/* ---------------------- Larsseit ---------------------------- */

@font-face {
	font-family: "Larsseit";
	src: url("../fonts/larsseit-regular.woff2") format("woff2"), url("../fonts/larsseit-regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/larsseit-medium.woff2") format("woff2"), url("../fonts/larsseit-medium.woff") format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/larsseit-bold.woff2") format("woff2"), url("../fonts/larsseit-bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
